# Ignore version control system files
.git

# Ignore tests and documentation
/tests
/docs

# Python cache files
__pycache__/
*.py[cod]

# IDE and system files
.idea/
.vscode/
*.DS_Store

__pycache__/
*.pyc